{
  "root": true,
  "extends": [
    "custom"
  ],
  "overrides": [
    {
      "files": [
        "*.ts",
        "*.tsx"
      ],
      "parserOptions": {
        "project": [
          "./apps/scraper/tsconfig.json",
          "./apps/scraper/tsconfig.node.json"
        ]
      }
    }
  ]
}